.search{
    width: 500px;
}
.listproduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 740px;
    padding: 10px 15px;
    margin: 30px;
    border-radius: 6px;
    background: white;
}
.listproduct-format-main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 70px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
}
.listproduct-format {
    align-items: center;
    font-weight: 500;
}
.listproduct-product-icon {
    height: 80px;
}
.listproduct-remove-icon {
    cursor: pointer;
    margin: auto;
}
.listproduct-allproducts {
    overflow-y: auto;
    width: 100%;
}
.listproduct input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.listproduct button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.listproduct .edit-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.listproduct .edit-buttons button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.listproduct input[type="text"] {
    width: 80px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

@media (max-width: 800px) {
    .listproduct {
        box-sizing: border-box;
        width: 95%;
        height: 100%;
        padding: 10px 30px;
        margin: 20px auto;
    }
    .listproduct-format-main {
        padding: 15px 0px;
        color: #454545;
        font-size: 12px;
        gap: 10px;
    }
    .listproduct-product-icon {
        height: 60px;
    }
}
